body{
  background-color: lightblue;
}

.grid-container {
  background-color: lightcoral;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.items {
  background-color: #f1f1f1;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  transition: filter 0.3s, transform 0.3s;
}

.items.blur {
  filter: blur(5px);
  transform: scale(0.95);
}

.items.focus {
  filter: none;
  transform: scale(1.05);
  z-index: 1;
}

.grid-container > .main-page {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
}